*{
	margin: 0;
	padding: 0;
}
#box{
	width: 540px;
	height: 600px;
	background: #000;
	margin:50px auto;
	box-shadow:0 0 10px #000;
}
.ti{
	color: #fff;
	font:18px/55px "微软雅黑";
	text-indent: 30px;
}
.num{
	width: 490px;
	height: 50px;
	background: #fff;
	margin: auto;
	border-radius: 5px;
	font-size: 50px;
	text-align: right;
	line-height: 50px;
}
.btn{
	width: 490px;
	height: 400px;
	margin:30px auto;
}
li{
	width: 80px;
	height: 60px;
	box-shadow: 0 0 5px #fff;
	list-style: none;
	float: left;
	margin: 9px;
	color: #fff;
	font-size: 22px;
	line-height: 60px;
	text-align: center;
	background-color: #212121;
	font-family: "Arial";
	cursor: pointer;
}
.is{
	width: 178px;
	background-color: #FFAF3E
}
.tool{
	background-color: #EF616E
}